.backdrop{
  width:100vw;
  background: linear-gradient(180deg, rgba(215, 199, 244, 0.2) 0%, rgba(151, 133, 186, 0.2) 100%);
}
.botHeading{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #9785BA;
    text-align: left;
    padding: 20px;
}
button {
  background-color: #D7C7F4;
  border: none;
  border-radius: 4px;
  padding: 5px;
  margin: 7px;
  height: 30px;
}
.conversation p{
  display:flex;
  background-color: #D7C7F4;
  border-radius: 4px;
  align-items: center;
  gap:10px;
  padding:20px;
}
@media (max-width: 768px) {
  .backdrop{
    width: 100vw;
    height:100vh;
  }
}